.App {
  text-align: center;
  font-family: 'Secular One', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.portrait{
  width: 128px;
  height: 128px;
  background-color: rgba(255, 255, 255, 0.575);
  border: 3px solid rgb(53, 53, 53);
  border-radius: 10px;
  
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  overflow-x: hidden;
}
.port-cont{
  margin: 0;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.grave{
  width: 300px;
  height: 300px;
  margin: 0.5cm;
}

.gcard{
  width: 145px;
  height: 250px;
  background-color: whitesmoke;
  border: 3px solid rgb(53, 53, 53);
  border-radius: 5px;
}

.deck{
  margin: 0.5cm;
  background-color: rgba(240, 248, 255, 0.486);
  border: 3px solid rgb(53, 53, 53);
  border-radius: 5px;
  padding: 15px;
  max-height: 300px;
  overflow-y: scroll;
}
.card-list{
}
.game-area{
  margin-top: 0.5cm;
  margin-bottom: 0.5cm;
  background-color: rgba(240, 248, 255, 0.664);
  border-radius: 100px;
  border: 3px solid rgb(53, 53, 53);
}

.c-slot{
  float: left;
  margin: 0.07cm;
  cursor: pointer;
}

.header h1{
  color: gold;
}

@media screen and (max-width: 700px) {
  .gcard{
    width: 70px;
    height: 125px;
  }
  .gcard h1{
    font-size: xx-large;
  }
  .grave{
    width: 125px;
    height: 150px;
  }
  .portrait{
    width: 64px;
    height: 64px;
  }
}
